* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-service1 {
  width: 317px;
  height: 320px;
  object-fit: cover;
}
.img-service2 {
  width: 317px;
  height: 320px;
  object-fit: cover;
}
.img-service3 {
  width: 317px;
  height: 320px;
  object-fit: cover;
}
.img-service4 {
  width: 317px;
  height: 320px;
  object-fit: cover;
}
.img1 {
  width: 422px;
  height: 407px;
  object-fit: cover;
}
.img2 {
  width: 422px;
  height: 407px;
  object-fit: cover;
}
.img3 {
  width: 422px;
  height: 407px;
  object-fit: cover;
}
.perebiv {
  width: 100%;
  margin-top: 40px;
}
h2 {
  font-size: 28px;
  width: 378px;
  height: 56px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.project {
  display: flex;
  justify-content: space-between;
}
.services {
  display: flex;
  justify-content: space-between;
}
.hservices {
  margin-top: 35px;
}
.design {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 56px;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
}
h5 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}
h6 {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main-page start */
.container {
  margin: 0 auto;
}

.main-page {
  background: url(./images_of_mainPage/background_mainPage.png);
  height: 800px;
}

header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
}

.main-page__first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.main-page__first__text {
  text-align: center;
}

.main-page__first__btns {
  margin-top: 150px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
/* main-page end */

a {
  text-decoration: none;
}

/* footer start */
.footer {
  /* background-color: #222; */
}

/* footer end */
